.site-header {
	padding: 15px 0;
	.clearfix();
}

.hd-left {
	float: left;
	width: 50%;
}

.hd-right {
	float: right;
}

.site-title {
	.font-size-rems(72);
	margin: 0;
	padding: 0;
	line-height: .85;
	width: 80%;

	a {
		font-family: @droid-sans;
		display: block;
		text-decoration: none;
	}
}

.site-nav {
	display: table;
	height: 121px;
	ul {
		.clearfix();
		display: table-cell;
		vertical-align: middle;
	}

	li {
		float: left;
		margin: 0 15px 0 0;

		a {
			width: 100%;
			text-decoration: none;
			padding: 5px;
			border: 1px solid transparent;
			.box-sizing(border-box);
			.transition(border-color, .2s, linear)
		}

		&:hover,
		&.active {
			a {
				border-color: lighten(@blue, 10%)
			}
		}
	}
}

@media screen and (max-width: @tablet-bp-w) {
	.hd-left {
		width: 100%;
		text-align: center;
		float: none;
		margin: 0 0 20px 0;
	}

	.hd-right {
		float: none;
	}
	.site-title {
		.font-size-rems(48);
		width: 100%;
	}

	.site-nav {
		display: block;
		height: auto;

		ul {
			display: block;
			margin:0 auto;
			text-align: center;

			li {
				float: none;
				display: inline-block;
			}
		}
	}
}