#project-container {
	display: block;
	margin: 0 auto;
	padding: 0 15px;

}
.projects {
	header {
		// border-bottom: 5px solid @blue;
		margin: 0 auto 25px auto;
		padding: 15px 0;

		h2 {
			margin: 0;
			padding: 0;
		}
	}
}

.project-item {
	.calc(width, ~'25% - 25px');
	margin-bottom: 10px;
	max-height: 350px;
	overflow: hidden;
	// padding: 0 5px;
	float: left;
	.box-sizing(border-box);

	&.w2 {
		.calc(width, ~'50% - 35px');
	}

	&.h2 {
		height: 500px
	}

	&.h3 {
		height: 750px;
	}

	img {
		position: relative; 
		width: 100%;
	}

	.icon-link { 
		display: inline-block;
		width: 30px;
		margin: 10px auto;
		color: @white;
		.font-size-rems(30);
		padding: 5px 10px;
		border-radius: 50%;
		border: 2px solid @white;
		.transition(background .2s linear, color .2s linear);

		&:hover {
			background: @white;
			color: @blue;
		}
	}

	.project-details {
		width: 100%;
		height: 100%;
		background: @blue;
		color: @white;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		.transition(opacity .2 ease-out);
	}

	.project-details-content {
		display: block;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		font-family: @droid-serif;

		span {
			display: block;

			&.title {
				.font-size-rems(20);
			}

			&.role {
				.font-size-rems(18);
			}
		}
	}

	&:hover,
	&.active {
		.project-details {
			opacity: .9;
		}
	}
}

.white-popup {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: @page-container-width;
	margin: 20px auto;
}

.browser-frame {
    border-radius: 5px;
    border: 2px solid #CCC;
    width: 100%;
    margin: 15px auto;
    max-width: 1004px;
    background: @white;
}

.browser-top-bar {
    border-bottom: 2px solid #CCC;
    width: 100%;
    float: left;
}

.browser-button-wrapper {
    padding: 9px 0 0 10px;
    float: left;
}

.browser-button {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    
    &.red {
    	background-color: red;
    }

    &.yellow {
    	background-color: yellow;
    }

    &.green {
    	background-color: green;
    }
}

.browser-address {
    width: 92%;
    border-radius: 5px;
    background: #efefef;
    height: 25px;
    float: right;
    margin: 10px;
}

.browser-container img {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .browser-address {
        width: 80%;
    }
}

