.single-project {
	.single-project-content {
		width: 75%;
		margin: 0 auto;
	}

	.single-project-image-container {
		padding: 25px 0;
		margin: 25px 0 0 0;
		background: lighten(@blue, 10%);

		img {
			width: 75%;
			margin: 5px auto;
		}
	}
}