<section class="about">
	<img src="http://placehold.it/200x200" alt="">

	<div class="content is-centered">
		<h3>Welcome I'm <strong>Reuben Ingber</strong>, a front-end web developer, designer, <a href="http://howtoholdapencil.com" class="" target="_blank">podcast host</a>, 
			<span class="amp">&</span>  runner.</h3>

	<!-- 	<p>I am front-end web developer and designer living in New York City. My skills include HTML5, CSS3, Javascript, jQuery, Wordpress, Shopify, Siteleaf, and more. I've had the opportunity to work with clients like Scholastic Books, Rolling Stone Magazine, US Magazine Men's Journal and many others.</p>

		<p>I write modern HTML, CSS and Javascript to build responsive web projects for clients of all sizes. Primarily I've developed on static and CMS driven websites. As well I’ve created several robust and responsive email templates.</p>

		<p><a href="http://howtoholdapencil.com">How to Hold a Pencil</a>, is a podcast I launched about learning web development and design. I have had the foturnate opportunity to interview industry leaders like <a href="http://howtoholdapencil.com/episodes/018/">Chris Coyier</a> of CSS Tricks, <a href="http://howtoholdapencil.com/episodes/009/">Ryan Carson</a> of Treehouse, <a href="http://howtoholdapencil.com/episodes/023/">Debbie Millman</a> of Sterling Brands and <a href="http://howtoholdapencil.com/episodes/">many more</a>.</p> -->

		<h4>Currently I am looking for full-time and freelance opportunities, if my skills match your needs lets <a href="mailto:reuben.ingber@gmail.com">talk</a>!</h4>
	</div>
</section>