<section class="about">
	<div class="content">
		<div class="img-container">
			<img src="assets/img/reuben.jpg" alt="">
		</div>

		<p>A skilled front end web developer and designer with a focus on modular HTML5, CSS3, and Javascript. I write modern and well organized code that enhances performance and user experience. I have the ability to learn and implement new technologies rapidly. I host <a href="http://howtoholdapencil.com">How to Hold a Pencil</a> a podcast about learning design and development. <strong>Currently I am seeking new full time and freelance opportunities.</strong></p>
	</div>
</section>