<footer class="site-footer">
	<div class="page-container-flex">
		<div class="icons is-centered">
			<a class="social-ico twitter" href="http://twitter.com/reubeningber" target="_blank"><i class="fa fa-twitter"></i></a>

			<a class="social-ico github" href="https://github.com/reubeningber" target="_blank"><i class="fa fa-github"></i></a>

			<a class="social-ico email" href="mailto:reuben.ingber@gmail.com" target="_blank"><i class="fa fa-paper-plane"></i></a>
			
			<a class="social-ico podcast" href="http://howtoholdapencil.com" target="_blank"><i class="fa fa-microphone"></i></a>
			
			<a class="social-ico facebook" href="http://facebook.com/reubenaingber" target="_blank"><i class="fa fa-facebook"></i></a>

			<a class="social-ico instagram" href="http://instagram.com/reubeningber" target="_blank"><i class="fa fa-instagram"></i></a>
		</div>

		<span class="credits is-centered">&copy; 2015 Reuben Ingber</span>
	</div>
</footer>