<header class="site-header page-container-flex">
	<div class="hd-left">
		<h1 class="site-title"><a href="/">Reuben <br> Ingber</a></h1>
	</div>

	<div class="hd-right">
		<nav class="site-nav">
			<ul class="ui-list">
				<!-- <li class="active"><a href="#">About</a></li> -->
				<li><a href="assets/downloads/reuben_ingber.pdf">Resume</a></li>
				<li><a href="#portfolio">Portfolio</a></li>
				<!-- <li><a href="/blog.html">Blog</a></li> -->
				<li><a href="http://howtoholdapencil.com" target="_blank">Podcast</a></li>
				<li class="contact"><a href="mailto:reuben.ingber@gmail.com">Contact</a></li>
			</ul>
		</nav>
	</div>
	
</header>