<section class="projects is-centered" id="portfolio">
	<header class="page-container-flex is-centered">
		<h2>Portfolio</h2>
	</header>
	<div id="project-container">
		<div class="project-item is-centered">
			<img src="assets/img/scholastic_assessment.png" alt="">
			<div class="project-details">
				<div class="project-details-content">
					<span class="title">Scholastic Assessment</span>
					<span class="role">Harp.js | HTML5 | CSS3</span>
					<a href="#popup-1" class="popup-link icon-link"><i class="fa fa-search-plus"></i></a>
				</div>
				
			</div>
			<div id="popup-1" class="white-popup mfp-hide single-project" style="background-color: #2A6477;">
				
				<h2>Scholastic Assessment</h2>
				 
			 	<div class="browser-frame">
			        <div class="browser-top-bar">
			            <div class="browser-button-wrapper">
			                <div class="browser-button red"></div>
			                <div class="browser-button yellow"></div>
			                <div class="browser-button green"></div>
			            </div>
			            <div class="browser-address"></div>
			        </div>
			        <div class="browser-container">
						<img class="project-pop-up-image" src="assets/img/scholastic_assessment.png" alt="">
			        </div>
				</div>
			</div>
		</div>
		<div class="project-item w2 h3 is-centered">
			<img src="assets/img/rs_hp.png" alt="">
			<div class="project-details">
				<div class="project-details-content">
					<span class="title">Rolling Stone</span>
					<span class="role">Custom Templates | HTML5 | CSS3</span>
					<a href="#popup-2" class="popup-link icon-link"><i class="fa fa-search-plus"></i></a> 
					<a href="http://rollingstone.com" class="icon-link" target="_blank"><i class="fa fa-link"></i></a>
				</div>
			</div>
			<div id="popup-2" class="white-popup mfp-hide single-project" style="background-color: #EC2227;">
				<h2>Rolling Stone</h2>
				
			 	<div class="browser-frame">
			        <div class="browser-top-bar">
			            <div class="browser-button-wrapper">
			                <div class="browser-button red"></div>
			                <div class="browser-button yellow"></div>
			                <div class="browser-button green"></div>
			            </div>
			            <div class="browser-address"></div>
			        </div>
			        <div class="browser-container">
						<img class="project-pop-up-image" src="assets/img/rs_hp.png" alt="">
			        </div>
			    </div>

		        <div class="browser-frame">
			        <div class="browser-top-bar">
			            <div class="browser-button-wrapper">
			                <div class="browser-button red"></div>
			                <div class="browser-button yellow"></div>
			                <div class="browser-button green"></div>
			            </div>
			            <div class="browser-address"></div>
			        </div>
			        <div class="browser-container">
						<img class="project-pop-up-image" src="assets/img/rs_section.png" alt="">
			        </div>
			    </div>

			    <div class="browser-frame">
			        <div class="browser-top-bar">
			            <div class="browser-button-wrapper">
			                <div class="browser-button red"></div>
			                <div class="browser-button yellow"></div>
			                <div class="browser-button green"></div>
			            </div>
			            <div class="browser-address"></div>
			        </div>
			        <div class="browser-container">
						<img class="project-pop-up-image" src="assets/img/rs_article.png" alt="">
			        </div>
			    </div>
			</div>
		</div>
		<div class="project-item is-centered">
			<img src="assets/img/scholastic_d3.png" alt="">
			<div class="project-details">
				<div class="project-details-content">
					<span class="title">Scholastic D3 Libraries</span>
					<span class="role">Harp.js | HTML5 | CSS3</span>
					<a href="#popup-3" class="popup-link icon-link"><i class="fa fa-search-plus"></i></a> 
					<a href="http://teacher.scholastic.com/products/classroombooks/d3libraries/index.htm" class="icon-link" target="_blank"><i class="fa fa-link"></i></a>
				</div>
			</div>

			<div id="popup-3" class="white-popup mfp-hide single-project" style="background-color: #FFDD56;">
				<h2>Scholastic D3 Libraries</h2>
				
				<div class="browser-frame">
			        <div class="browser-top-bar">
			            <div class="browser-button-wrapper">
			                <div class="browser-button red"></div>
			                <div class="browser-button yellow"></div>
			                <div class="browser-button green"></div>
			            </div>
			            <div class="browser-address"></div>
			        </div>
			        <div class="browser-container">
						<img class="project-pop-up-image" src="assets/img/scholastic_d3.png" alt="">
			        </div>
			    </div>
			</div>
		</div>
		<div class="project-item is-centered">
			<img src="assets/img/mj_american_craftsman.png" alt="">
			<div class="project-details">
				<div class="project-details-content">
					<span class="title">Men's Journal<br>American Craftsman</span>
					<span class="role">Custom Template | HTML5 | CSS3</span>
					<a href="#popup-4" class="popup-link icon-link"><i class="fa fa-search-plus"></i></a> 
					<a href="http://www.mensjournal.com/do-it-yourself/american-craftsman" class="icon-link" target="_blank"><i class="fa fa-link"></i></a>
				</div>
			</div>

			<div id="popup-4" class="white-popup mfp-hide single-project" style="background-color: #D9D9D9;">
				<h2>Men's Journal American Craftsman</h2>

			    <div class="browser-frame">
			        <div class="browser-top-bar">
			            <div class="browser-button-wrapper">
			                <div class="browser-button red"></div>
			                <div class="browser-button yellow"></div>
			                <div class="browser-button green"></div>
			            </div>
			            <div class="browser-address"></div>
			        </div>
			        <div class="browser-container">
						<img class="project-pop-up-image" src="assets/img/mj_american_craftsman.png" alt="">
			        </div>
			    </div>
			</div>
		</div>
		<div class="project-item is-centered">
			<img src="assets/img/scholastic_hub_open.png" alt="">
			<div class="project-details">
				<div class="project-details-content">
					<span class="title">Scholastic <br>Classroom Books Hub</span>
					<span class="role">Knockout.js | HTML5 | CSS3</span>
					<a href="#popup-5" class="popup-link icon-link"><i class="fa fa-search-plus"></i></a> 
					<a href="http://teacher.scholastic.com/products/classroombooks/hub" class="icon-link" target="_blank"><i class="fa fa-link"></i></a>
				</div>
			</div>

			<div id="popup-5" class="white-popup mfp-hide single-project" style="background-color: #9D0836;">
				<h2>Scholastic Classroom Books Hub</h2>

				<div class="browser-frame">
			        <div class="browser-top-bar">
			            <div class="browser-button-wrapper">
			                <div class="browser-button red"></div>
			                <div class="browser-button yellow"></div>
			                <div class="browser-button green"></div>
			            </div>
			            <div class="browser-address"></div>
			        </div>
			        <div class="browser-container">
						<img class="project-pop-up-image" src="assets/img/scholastic_hub.png" alt="">
			        </div>
			    </div>

			    <div class="browser-frame">
			        <div class="browser-top-bar">
			            <div class="browser-button-wrapper">
			                <div class="browser-button red"></div>
			                <div class="browser-button yellow"></div>
			                <div class="browser-button green"></div>
			            </div>
			            <div class="browser-address"></div>
			        </div>
			        <div class="browser-container">
						<img class="project-pop-up-image" src="assets/img/scholastic_hub_open.png" alt="">
			        </div>
			    </div>
			</div>
		</div>
		<div class="project-item w2 h2 is-centered">
			<img src="assets/img/us_sag.png" alt="">
			<div class="project-details">
				<div class="project-details-content">
					<span class="title">US Weekly<br>SAG Awards Hub</span>
					<span class="role">Custom Template | HTML5 | CSS3</span>
					<a href="#popup-6" class="popup-link icon-link"><i class="fa fa-search-plus"></i></a> 
					<a href="http://usmagazine.com/sag-awards" class="icon-link" target="_blank"><i class="fa fa-link"></i></a>
				</div>
			</div>

			<div id="popup-6" class="white-popup mfp-hide single-project" style="background-color: #743296;">
				<h2>US <br> Screen Actors Guild Awards Hub</h2>
				
				<div class="browser-frame">
			        <div class="browser-top-bar">
			            <div class="browser-button-wrapper">
			                <div class="browser-button red"></div>
			                <div class="browser-button yellow"></div>
			                <div class="browser-button green"></div>
			            </div>
			            <div class="browser-address"></div>
			        </div>
			        <div class="browser-container">
						<img class="project-pop-up-image" src="assets/img/us_sag.png" alt="">
			        </div>
			    </div>				
			</div>
		</div>
		<div class="project-item is-centered">
			<img src="assets/img/scholastic_sap.png" alt="">
			<div class="project-details">
				<div class="project-details-content">
					<span class="title">Scholastic Achievement Partners</span>
					<span class="role">Harp.js | HTML5 | CSS3</span>
					<a href="#popup-7" class="popup-link icon-link"><i class="fa fa-search-plus"></i></a> 
					<a href="http://scholastic.com/sap" class="icon-link" target="_blank"><i class="fa fa-link"></i></a>
				</div>
			</div>

			<div id="popup-7" class="white-popup mfp-hide single-project" style="background-color: #E30000;">
				<h2>Scholastic Achievement Partners</h2>
				
				<div class="browser-frame">
			        <div class="browser-top-bar">
			            <div class="browser-button-wrapper">
			                <div class="browser-button red"></div>
			                <div class="browser-button yellow"></div>
			                <div class="browser-button green"></div>
			            </div>
			            <div class="browser-address"></div>
			        </div>
			        <div class="browser-container">
						<img class="project-pop-up-image" src="assets/img/scholastic_sap.png" alt="">
			        </div>
			    </div>
			</div>
		</div>
		
		<div class="project-item is-centered w2 h3">
			<img src="assets/img/elsa.png" alt="">
			<div class="project-details">
				<div class="project-details-content">
					<span class="title">Elsa Isaac</span>
					<span class="role">Wordpress | HTML5 | CSS3 | Javascript</span>
					<a href="#popup-8" class="popup-link icon-link"><i class="fa fa-search-plus"></i></a> 
					<a href="http://elsaisaac.com/" class="icon-link" target="_blank"><i class="fa fa-link"></i></a>
				</div>
			</div>

			<div id="popup-8" class="white-popup mfp-hide single-project" style="background-color: #F1CC71;">
				<h2>Elsa Isaac <br>Fashion Stylist</h2>
				
				<div class="browser-frame">
			        <div class="browser-top-bar">
			            <div class="browser-button-wrapper">
			                <div class="browser-button red"></div>
			                <div class="browser-button yellow"></div>
			                <div class="browser-button green"></div>
			            </div>
			            <div class="browser-address"></div>
			        </div>
			        <div class="browser-container">
						<img class="project-pop-up-image" src="assets/img/elsa.png" alt="">
			        </div>
			    </div>
			</div>
		</div>

		<div class="project-item is-centered">
			<img src="assets/img/us_amas.png" alt="">
			<div class="project-details">
				<div class="project-details-content">
					<span class="title">US Weekly<br>American Music Awards</span>
					<span class="role">Custom Template | HTML5 | CSS3</span>
					<a href="#popup-9" class="popup-link icon-link"><i class="fa fa-search-plus"></i></a> 
					<a href="http://usmagazine.com/american-music-awards" class="icon-link" target="_blank"><i class="fa fa-link"></i></a>
				</div>
			</div>

			<div id="popup-9" class="white-popup mfp-hide single-project" style="background-color: #F1CC71;">
				<h2>US Weekly<br>American Music Awards Hub</h2>
				
				<div class="browser-frame">
			        <div class="browser-top-bar">
			            <div class="browser-button-wrapper">
			                <div class="browser-button red"></div>
			                <div class="browser-button yellow"></div>
			                <div class="browser-button green"></div>
			            </div>
			            <div class="browser-address"></div>
			        </div>
			        <div class="browser-container">
						<img class="project-pop-up-image" src="assets/img/us_amas.png" alt="">
			        </div>
			    </div>
			</div>
		</div>
		
		<div class="project-item is-centered">
			<img src="assets/img/hthap.png" alt="">
			<div class="project-details">
				<div class="project-details-content">
					<span class="title">How to Hold a Pencil</span>
					<span class="role">HTML5 | CSS3 | Javascript</span>
					<a href="#popup-14" class="popup-link icon-link"><i class="fa fa-search-plus"></i></a> 
					<a href="http://howtoholdapencil.com" class="icon-link" target="_blank"><i class="fa fa-link"></i></a>
				</div>
			</div>
			<div id="popup-14" class="white-popup mfp-hide single-project" style="background-color: #9F9D8C;">
				<h2>How to Hold a Pencil</h2>
				
				<div class="browser-frame">
			        <div class="browser-top-bar">
			            <div class="browser-button-wrapper">
			                <div class="browser-button red"></div>
			                <div class="browser-button yellow"></div>
			                <div class="browser-button green"></div>
			            </div>
			            <div class="browser-address"></div>
			        </div>
			        <div class="browser-container">
						<img class="project-pop-up-image" src="assets/img/hthap.png" alt="">
			        </div>
			    </div>
			</div>
		</div>
		<div class="project-item is-centered">
				<img src="assets/img/rabbi.png" alt="">
				<div class="project-details">
					<div class="project-details-content">
						<span class="title">Rabbi David Seth Kirshner</span>
						<span class="role">HTML5 | CSS3 | Javascript</span>
						<a href="#popup-10" class="popup-link icon-link"><i class="fa fa-search-plus"></i></a> 
						<a href="http://rabbikirshner.com" class="icon-link" target="_blank"><i class="fa fa-link"></i></a>
					</div>
				</div>

				<div id="popup-10" class="white-popup mfp-hide single-project" style="background-color: #ffffff;">
				<h2 style="color: #000000; border-color: #000000">Rabbi David Seth Kirshner</h2>
				
				<div class="browser-frame">
			        <div class="browser-top-bar">
			            <div class="browser-button-wrapper">
			                <div class="browser-button red"></div>
			                <div class="browser-button yellow"></div>
			                <div class="browser-button green"></div>
			            </div>
			            <div class="browser-address"></div>
			        </div>
			        <div class="browser-container">
						<img class="project-pop-up-image" src="assets/img/rabbi.png" alt="">
			        </div>
			    </div>
			</div>
		</div>
		<div class="project-item is-centered w2 h3">
			<img src="assets/img/temple.png" alt="">
			<div class="project-details">
				<div class="project-details-content">
					<span class="title">Temple Emanu-El</span>
					<span class="role">Wordpress | HTML5 | CSS3 | Javascript</span>
					<a href="#popup-11" class="popup-link icon-link"><i class="fa fa-search-plus"></i></a> 
					<a href="http://templeemanu-el.com" class="icon-link" target="_blank"><i class="fa fa-link"></i></a>
				</div>
			</div>
			<div id="popup-11" class="white-popup mfp-hide single-project" style="background-color: #68BEE1;">
				<h2>Temple Emanu-el of Closter, N.J.</h2>
				
				<div class="browser-frame">
			        <div class="browser-top-bar">
			            <div class="browser-button-wrapper">
			                <div class="browser-button red"></div>
			                <div class="browser-button yellow"></div>
			                <div class="browser-button green"></div>
			            </div>
			            <div class="browser-address"></div>
			        </div>
			        <div class="browser-container">
						<img class="project-pop-up-image" src="assets/img/temple.png" alt="">
			        </div>
			    </div>
			</div>
		</div>
		<div class="project-item is-centered">
			<img src="assets/img/weddingber.png" alt="">
			<div class="project-details">
				<div class="project-details-content">
					<span class="title">#Weddingber</span>
					<span class="role">HTML5 | CSS3 | Javascript</span>
					<a href="#popup-12" class="popup-link icon-link"><i class="fa fa-search-plus"></i></a> 
					<a href="http://weddingber.com" class="icon-link" target="_blank"><i class="fa fa-link"></i></a>
				</div>
			</div>
			<div id="popup-12" class="white-popup mfp-hide single-project" style="background-color: #12022b;">
				<h2>Sarah-Beth & Reuben</h2>
				
				<div class="browser-frame">
			        <div class="browser-top-bar">
			            <div class="browser-button-wrapper">
			                <div class="browser-button red"></div>
			                <div class="browser-button yellow"></div>
			                <div class="browser-button green"></div>
			            </div>
			            <div class="browser-address"></div>
			        </div>
			        <div class="browser-container">
						<img class="project-pop-up-image" src="assets/img/weddingber.png" alt="">
			        </div>
			    </div>
			</div>
		</div>
		<div class="project-item is-centered">
			<img src="assets/img/us_gift.png" alt="">
			<div class="project-details">
				<div class="project-details-content">
					<span class="title">US Weekly<br>2014 Holiday Gift Guide</span>
					<span class="role">Custom Template | HTML5 | CSS3</span>
					<a href="#popup-13" class="popup-link icon-link"><i class="fa fa-search-plus"></i></a> 
					<a href="http://usmagazine.com/gift-guide" class="icon-link" target="_blank"><i class="fa fa-link"></i></a>
				</div>
			</div>
			<div id="popup-13" class="white-popup mfp-hide single-project" style="background-color: #006E33;">
				<h2>US Weekly<br> 2014 Holiday Gift Guide</h2>
				
				<div class="browser-frame">
			        <div class="browser-top-bar">
			            <div class="browser-button-wrapper">
			                <div class="browser-button red"></div>
			                <div class="browser-button yellow"></div>
			                <div class="browser-button green"></div>
			            </div>
			            <div class="browser-address"></div>
			        </div>
			        <div class="browser-container">
						<img class="project-pop-up-image" src="assets/img/us_gift.png" alt="">
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>

<div class="page-container-flex">
	<span class="js-social"></span>
</div>
</section>
